<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs"/>
    <property name="APP_NAME" value="ChapterVault"/>
    <property name="TIMESTAMP_FORMAT" value="yyyy-MM-dd HH:mm:ss"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%highlight([%d{${TIMESTAMP_FORMAT}}] [%level] [%X{moduleShort:-${APP_NAME}}] %msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/latest.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{${TIMESTAMP_FORMAT}}] [%level] [%X{moduleShort:-${APP_NAME}}] %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>